!!!
%html
  %head
    %title File Cabinet
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", "content" => "width=device-width, initial-scale=1, shrink-to-fit=no"}

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags

  %body
    %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      = link_to "FileCabinet", root_path, class: "navbar-brand"

      %button.navbar-toggler{:type => "button", "data-toggle" => "collapse", "data-target" => "#navbarNavAltMarkup", "aria-controls" => "navbarNavAltMarkup", "aria-expanded" => "false", "aria-label" => "Toggle navigation"}
        %span.navbar-toggler-icon
      #navbarNavAltMarkup.collapse.navbar-collapse
        .navbar-nav.ml-auto
          - if user_signed_in?
            = link_to "Create Doc", new_doc_path, class: "nav-item nav-link"
            = link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-item nav-link"

          -else
            = link_to "Log In", new_user_session_path, class: "nav-item nav-link"

    .container
      %p.notice= notice
      %p.alert= alert

    = yield
